body{
    background-color: #FFEFCE;
}
.colorbg1{
    background-color: #8C5935;
}
h2{
    color: #8C5935;
}
p, label, input, select, button{
    color:#8C5935;
    font-family: 'Roboto', sans-serif;
}
.img1{
    max-width : 100%;
}
.img2{
    width: 100%;
    height: 50%;
}
.b{
    font-weight: bold;
}
.fontSize1{
    font-size: 12px;
}