.imgcarte2 {
    height: 200px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #FFEFCE;
    color: #8C5935;
    align-items: center;
}

.block {
    background-color: #8C5935;
    color: #FFEFCE;
    border-radius: 15px;
    margin: 30px;
    padding: 15px;
}

.histoire {
    opacity: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

.blanc {
    background-color: white;
    color: #8C5935;
    border-radius: 15px;
    margin: 30px;
    padding: 20px;
    padding-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.bordus {
    border-radius: 15px;
    margin: 30px
}

h3 {
    text-align: center;
    padding: 20px;
    margin-bottom: -45px;
    font-family: california;

}

h2 {
    text-align: center;
    padding: 30px;
    padding-top: 30px;
    font-family: california;
    margin: 15px;
    font-size: 35px;

}

.button {
    background-color: #8C5935;
    color: #FFEFCE;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
<<<<<<< HEAD
    font-size: 20px;
    margin: 15px;
=======
    font-size: 23px;
    margin:40px;
    opacity: 70%;
>>>>>>> 087bb55e4f4320b8af6aca97963e5f6f4468d12e
}

a {
    color: #8C5935;
    text-decoration: none;
}

.a1 {
    color: #8C5935;
    text-decoration: underline;
}

.a1:hover {
    color: #8C5935;
}

a:hover {
    color: #8C5935;
}

.carte {
    width: 250px;
    height: 400px;
    background-color: #8C5935;
    color: #FFEFCE;
}

.imgcarte {
    height: 180px;
    border-radius: 15px;
}

.footercarte {
    background-color: white;
    color: #8C5935;
    text-align: center;
    padding: 15px;
    position: relative;
    margin-top: -60px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
}

.textcarte {
    margin-top: 20px;
    margin: 10px;
}

.btncarte {
    background-color: white;
    color: #8C5935;
    text-align: center;
    padding: 15px;
    position: relative;
    margin-top: -60px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
}
<<<<<<< HEAD

h1 {
    display: inline-block;
    font-size: 1em;
}

a.bouton {
    color: rgb(0, 0, 0);
    padding: 50px;
    background-color: #FFEFCE;
    font-size: 15px;
}


/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
}

.header ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 2px solid #000000;
    text-decoration: none;
}

.bouton {
    border-radius: 0px;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4a7;
}

.header .logo {
    display: block;
    float: left;
    font-size: 3em;
    padding: 20px 20px;
    text-decoration: none;
}

a.logo {
    color: rgb(255, 255, 255);
    font-family: cursive;
    padding: 80px;
    width: auto;
    max-width: 1000px;
    vertical-align: middle;
    text-align: center;
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.imgLogo {
    width: auto;
    max-height: 125px;
}

.header {
    background-color: #8C5935;
}

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: rgb(255, 255, 255);
    display: block;
    height: 3px;
    position: relative;
    width: 40px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 15px;
}

.header .menu-icon .navicon:after {
    top: -15px;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 95em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 20px;
        margin-bottom: 100px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    .bouton {
        border-radius: 18px;
        margin-top: 40px;
        margin-right: 30px;
    }
    a.logo {
        color: rgb(255, 255, 255);
        font-family: cursive;
        padding: 80px;
        width: auto;
        max-width: 1000px;
        vertical-align: middle;
        text-align: center;
    }
    h1 {
        display: inline-block;
        font-size: 1em;
    }
    .imgLogo {
        width: auto;
        max-height: 150px;
    }
    a.bouton {
        font-size: 15px;
    }
}

@media (min-width: 150em) {
    .imgLogo {
        width: auto;
        max-height: 300px;
    }
    a.bouton {
        font-size: 30px;
    }
}

footer {
    text-align: center;
    width: 100%;
    background-color: #8C5935;
    color: #fff;
    margin-bottom: 0px;
}

.footerimg {
    display: inline-block;
    position: relative;
}

img.footerimg {
    margin-top: -15px;
}

.img1 {
    max-width: 100%;
}

.img2 {
    width: 100%;
    height: 50%;
}

=======
 h1 {
     color: #fff;
     font-family: california;
     text-align: center;
     font-size: 40px;
     padding: 25px;
 }
 a.bouton {
     color: rgb(0, 0, 0);
     padding: 50px;
     background-color: #FFEFCE;
     font-size: 15px;
 }
 /* header */
 .header {
     background-color: #fff;
     box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
 }
 .header ul {
     margin-top: 20px;
     padding: 0;
     list-style: none;
     overflow: hidden;
 }
 .header li a {
     display: block;
     padding: 20px 20px;
     border-right: 2px solid #000000;
     text-decoration: none;
 }
 .header li a:hover,
 .header .menu-btn:hover {
     background-color: #f4f4f4a7;
 }
 .header .logo {
     display: block;
     float: left;
     font-size: 3em;
     padding: 20px 20px;
     text-decoration: none;
 }
 a.logo {
     color: rgb(255, 255, 255);
     font-family: cursive;
     padding: 80px;
     width: auto;
     max-width: 1000px;
     vertical-align: middle;
     text-align: center;
 }
 /* menu */
 .header .menu {
     clear: both;
     max-height: 0;
     transition: max-height .2s ease-out;
 }
 .imgLogo {
     width: auto;
     max-height: 125px;
 }
 .header {
     background-color: #8C5935;
 }
 .header .menu-icon {
     cursor: pointer;
     float: right;
     padding: 28px 20px;
     position: relative;
     user-select: none;
 }
 .header .menu-icon .navicon {
     background: rgb(255, 255, 255);
     display: block;
     height: 3px;
     position: relative;
     width: 40px;
 }
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
     background: rgb(255, 255, 255);
     content: '';
     display: block;
     height: 100%;
     position: absolute;
     transition: all .2s ease-out;
     width: 100%;
 }
 .header .menu-icon .navicon:before {
     top: 15px;
 }
 .header .menu-icon .navicon:after {
     top: -15px;
 }
 /* menu btn */
 .header .menu-btn {
     display: none;
 }
 .header .menu-btn:checked~.menu {
     max-height: 240px;
 }
 .header .menu-btn:checked~.menu-icon .navicon {
     background: transparent;
 }
 .header .menu-btn:checked~.menu-icon .navicon:before {
     transform: rotate(-45deg);
 }
 .header .menu-btn:checked~.menu-icon .navicon:after {
     transform: rotate(45deg);
 }
 .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
     top: 0;
 }
 @media (min-width: 95em) {
     .header li {
         float: left;
     }
     .header li a {
         padding: 20px 20px;
         margin-bottom: 30px;
     }
     .header .menu {
         clear: none;
         float: right;
         max-height: none;
     }
     .header .menu-icon {
         display: none;
     }
     .bouton {
         border-radius: 18px;
         margin-top: 40px;
         margin-right: 30px;
     }
     a.logo {
         color: rgb(255, 255, 255);
         font-family: cursive;
         padding: 80px;
         width: auto;
         max-width: 1000px;
         vertical-align: middle;
         text-align: center;
     }
     h1 {
        color: #fff;
        font-family: california;
        text-align: center;
        font-size: 40px;
     }
     .imgLogo {
         width: auto;
         max-height: 150px;
     }
     a.bouton {
         font-size: 15px;
     }
 }
 @media (min-width: 150em) {
     .imgLogo {
         width: auto;
         max-height: 100px;
     }
     a.bouton {
         font-size: 30px;
     }
 }
 footer {
     text-align: center;
     width: 100%;
     background-color: #8C5935;
     color: #fff;
     margin-bottom: 0px;
     margin-top: 60px;
     padding-bottom: 15px;
 }
 .footerimg {
     display: inline-block;
     position: relative;
 }
 
 img.footerimg {
     margin-top: -15px;
 }
 .img1{
     max-width: 100%;
 }
 .img2{
     width:100%;
 }
@font-face {
    font-family: california;
    src: url(CaliforniaPersonalUseRegular-L37ED.ttf);
}
>>>>>>> 087bb55e4f4320b8af6aca97963e5f6f4468d12e
.carte {
    width: 250px;
    height: 400px;
    background-color: #8C5935;
    color: #FFEFCE;
}

.bordus {
    border-radius: 15px;
    margin: 30px
}

.textcarte {
    margin-top: 20px;
    margin: 10px
}
<<<<<<< HEAD

.box2 {
=======
.box2{
>>>>>>> 087bb55e4f4320b8af6aca97963e5f6f4468d12e
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
    background-color: #8C5935;
    border-radius: 15px;
}
<<<<<<< HEAD

h2 {
    font-family: cursive;
    text-align: center;
    padding: 30px;
    padding-top: 30px;
}

.titre {
    font-size: larger;
=======
.titre{
    font-size: larger;

}
.colorB {
    color: #8C5935;
    background-color: #FFEFCE;
    border-radius: 30px;
    padding: 10px;
>>>>>>> 087bb55e4f4320b8af6aca97963e5f6f4468d12e
}