body {
    background-color: #FFEFCE;
    color: #8C5935;
    align-items: center;
}
.block {
    background-color: #8C5935;
    color: #FFEFCE;
    border-radius: 15px;
    margin: 30px;
    padding: 15px;
}
.histoire {
    opacity: 70%;
    margin-right: 15%;
    margin-left: 15%;
}
.blanc {
    background-color: white;
    color: #8C5935;
    border-radius: 15px;
    margin: 30px;
    padding: 20px;
    padding-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}
.bordus {
    border-radius: 15px;
    margin: 30px
}
h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -45px;
}
h2 {
    font-family: cursive;
    text-align: center;
    padding: 30px;
    padding-top: 30px;
}
.button {
    background-color: #8C5935;
    color: #FFEFCE;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 20px;
    margin:15px;
}
a {
    color: #8C5935;
    text-decoration: none;
}
a:hover {
    color: #FFEFCE;
}
.carte {
    width: 250px;
    height: 400px;
    background-color: #8C5935;
    color: #FFEFCE;
}
.imgcarte {
    height: 180px;
    border-radius: 15px;
}
.footercarte {
    background-color: white;
    color: #8C5935;
    text-align: center;
    padding: 15px;
    position: relative;
    margin-top: -60px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
}
.textcarte {
    margin-top: 20px;
    margin: 10px;
}
.btncarte {
    background-color: white;
    color: #8C5935;
    text-align: center;
    padding: 15px;
    position: relative;
    margin-top: -60px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
}
