 body {}
 
 h1 {
     display: inline-block;
     font-size: 1em;
 }
 
 a.bouton {
     color: rgb(0, 0, 0);
     padding: 50px;
     background-color: #FFEFCE;
     font-size: 15px;
 }
 
 a {
     color: #000;
 }
 /* header */
 
 .header {
     background-color: #fff;
     box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
     position: fixed;
     width: 100%;
     z-index: 3;
 }
 
 .header ul {
     margin: 20px;
     padding: 0;
     list-style: none;
     overflow: hidden;
 }
 
 .header li a {
     display: block;
     padding: 20px 20px;
     border-right: 2px solid #000000;
     text-decoration: none;
 }
 
 .bouton {
     border-radius: 0px;
 }
 
 .header li a:hover,
 .header .menu-btn:hover {
     background-color: #f4f4f4a7;
 }
 
 .header .logo {
     display: block;
     float: left;
     font-size: 3em;
     padding: 20px 20px;
     text-decoration: none;
 }
 
 a.logo {
     color: rgb(255, 255, 255);
     font-family: cursive;
     padding: 80px;
     width: auto;
     max-width: 1000px;
     vertical-align: middle;
     text-align: center;
 }
 /* menu */
 
 .header .menu {
     clear: both;
     max-height: 0;
     transition: max-height .2s ease-out;
 }
 
 .imgLogo {
     width: auto;
     max-height: 200px;
 }
 
 .header {
     background-color: #8C5935;
 }
 
 .bouton {}
 /* menu icon */
 
 .header .menu-icon {
     cursor: pointer;
     display: inline-block;
     float: right;
     padding: 28px 20px;
     position: relative;
     user-select: none;
 }
 
 .header .menu-icon .navicon {
     background: rgb(255, 255, 255);
     display: block;
     height: 3px;
     position: relative;
     width: 40px;
 }
 
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
     background: rgb(255, 255, 255);
     content: '';
     display: block;
     height: 100%;
     position: absolute;
     transition: all .2s ease-out;
     width: 100%;
 }
 
 .header .menu-icon .navicon:before {
     top: 15px;
 }
 
 .header .menu-icon .navicon:after {
     top: -15px;
 }
 /* menu btn */
 
 .header .menu-btn {
     display: none;
 }
 
 .header .menu-btn:checked~.menu {
     max-height: 540px;
 }
 
 .header .menu-btn:checked~.menu-icon .navicon {
     background: transparent;
 }
 
 .header .menu-btn:checked~.menu-icon .navicon:before {
     transform: rotate(-45deg);
 }
 
 .header .menu-btn:checked~.menu-icon .navicon:after {
     transform: rotate(45deg);
 }
 
 .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
     top: 0;
 }
 
 @media (min-width: 95em) {
     .header li {
         float: left;
     }
     .header li a {
         padding: 20px 20px;
         margin-bottom: 200px;
     }
     .header .menu {
         clear: none;
         float: right;
         max-height: none;
     }
     .header .menu-icon {
         display: none;
     }
     .bouton {
         border-radius: 18px;
         margin-top: 40px;
         margin-right: 30px;
     }
     a.logo {
         color: rgb(255, 255, 255);
         font-family: cursive;
         padding: 80px;
         width: auto;
         max-width: 1000px;
         vertical-align: middle;
         text-align: center;
     }
     h1 {
         display: inline-block;
         font-size: 1em;
     }
     .imgLogo {
         width: auto;
         max-height: 300px;
     }
     a.bouton {
         font-size: 15px;
     }
 }
 
 @media (min-width: 150em) {
     .imgLogo {
         width: auto;
         max-height: 250px;
     }
     a.bouton {
         font-size: 30px;
     }
 }
 
 footer {
     text-align: center;
     width: 100%;
     height: 250px;
     background-color: #8C5935;
     color: #fff;
 }
 
 .footerimg {
     display: inline-block;
     position: relative;
 }
 
 img.footerimg {
     margin-top: -15px;
 }