.imgcarte2 {
    height: 200px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #FFEFCE;
    color: #8C5935;
    align-items: center;
}
.block {
    background-color: #8C5935;
    color: #FFEFCE;
    border-radius: 15px;
    margin: 30px;
    padding: 15px;
}



.imgcarte {
    height: 180px;
    border-radius: 15px;
}
.footercarte {
    background-color: white;
    color: #8C5935;
    text-align: center;
    padding: 15px;
    position: relative;
    margin-top: -60px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
}

.carte {
    width: 250px;
    height: 400px;
    background-color: #8C5935;
    color: #FFEFCE;
}
.bordus {
    border-radius: 15px;
    margin: 30px
}
.textcarte {
    margin-top: 20px;
    margin: 10px
}




.box2{
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
    background-color:#8C5935;
    border-radius: 15px;
}

h2 {
    font-family: cursive;
    text-align: center;
    padding: 30px;
    padding-top: 30px;
}
.titre{
    font-size: larger;

}